@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400&display=swap');

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

.page {
    width: 200vw;
    height: 200vh;

    background-color: rgb(27, 43, 34);
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.4) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 4vmin 4vmin;

    display: grid;
    place-items: center;

    transform: translate(-25%, -25%);
}

.page-title {
    padding: 0 1rem;
    color: white;
    font-family: 'Sono', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 1px;
    border: 2px solid pink;
    border-radius: 0.6rem;
}

.store-item {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: pink;
    transition: translate 150ms linear, width 150ms linear, height 150ms linear, border-radius 300ms ease-in;
    cursor: pointer;
    background-image: url("https://unsplash.it/120/220");
    background-size: cover;
    border: 4px solid white;
    box-shadow: 0 0 24px 4px rgba(255, 255, 255, 0.4);
    transform-origin: center;
    animation: pulse 3000ms linear infinite;
}

.store-item[data-shape="circle"]::before {
    content: "";
    position: absolute;
    inset: -12px;
    border-radius: inherit;
    border: 3px solid pink;
    clip-path: polygon(0% 70%, 100% 70%, 100% 100%, 0% 100%);
    animation: border-rotation 1200ms infinite ease-in-out;
}

.store-item[data-shape="circle"] {
    border-radius: 50%;
}

.store-item:hover {
    width: 12rem;
    height: 22rem;
    translate: -4.5rem -7.75rem;
    border: 4px solid white;
    border-radius: 4px;
    animation: none;
}

.store-item:hover::before {
    display: none;
}



@keyframes border-rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}